
.da {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin-top: 15px;
    height: 100px;
    background-color: rgb(235, 38, 38,0.7);
    border-right: 10px solid transparent; /* Ustawianie przezroczystej krawędzi z prawej strony */
    margin-right: 70px;
    border-top-right-radius: 20px; /* Zaokrąglenie górnej prawej części */
    border-bottom-right-radius: 20px; /* Zaokrąglenie dolnej prawej części */
}

.da ul li {
    display: inline;
}

.text {
    display: inline;
}

.h_text{
    display: inline;
}

.m_text{
    display: inline;
}

.s_text{
    display: inline;
}

.gps_text{
    display: inline;
}

.ball_text{
    display: inline;
}