.content {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    color: #d4af37;
    margin-bottom: 30px;
}

.math-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 100%;
}

.math-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #d4af37;
    padding: 20px;
    border-radius: 12px;
    margin: 10px 0px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.math-card:hover {
    background: rgba(212, 175, 55, 0.1);
    transform: scale(1.01);
}

.card-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.card-icon {
    font-size: 2rem;
}

.math-card h3 {
    margin: 0;
    color: #fcfaf7;
    font-size: 28px;
}

.math-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.math-list li {
    color: #b3b3b3;
    padding: 6px 0;
    border-bottom: 1px solid rgba(212, 175, 55, 0.2);
    font-size: 20px;
}

.math-list li:last-child {
    border-bottom: none;
}