/* ################# MEDIA QUERIES ######################## */
@media screen and (min-width: 750px) and (max-width: 1000px) {
    .main_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .main_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .main_wrapper {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 30px;
    }

    .card-item {
        padding: 15px;
    }
}
/* ################# MEDIA QUERIES ######################## */