/* ################# MAIN CONTAINER (GRID) ######################## */
.main_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 20px;
    width: 100%;
    box-sizing: border-box;
}

.card-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    color: #fcfaf7;
    border: 2px solid #d4af37;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    overflow: hidden;
}

.card-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
    transition: background-color 0.5s ease;
}

.card-title, .card-desc {
    position: relative;
    z-index: 2;
}

.card-item:hover {
    transform: scale(1.05);
    border-color: #ffffff;
}

.card-item:hover::before {
    background-color: rgba(0, 0, 0, 0.6); /* Rozjaśnienie tła po najechaniu */
}

.card-title {
    font-size: 2em;
    font-weight: bold;
    color: #d4af37;
    margin: 0 0 8px 0;
}

.card-desc {
    font-size: 1em;
    color: #cccccc;
    margin: 0;
    line-height: 1.3;
}