/* ################# MEDIA QUERIES ######################## */
@media screen and (min-width: 750px) and (max-width: 1000px) {
    .dropdown-content-inner {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 20px;
        width: 80%;
    }

    .company_name {
        font-size: 1em;
    }

    .nav-links a {
        font-size: 1em;
    }

    .logo-container {
        height: 60px;
    }

    .nav-links {
        gap: 10px;
    }
}

@media screen and (max-width: 800px) {
    .header-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
    }

    .nav-links {
        display: none !important;
    }

    .header-back-button{
        display: none !important;
    }

    .mobile-menu-btn {
        display: flex;
        position: relative;
        z-index: 1000;
        background-color: #1a1a1a;
        color: #d4af37;
        border: 2px solid #d4af37;
        border-radius: 8px;
        padding: 4px 20px;
        font-size: 1.4rem;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        gap: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        
    }

    .lang-menu {
        display: flex;
        align-items: center;
    }

    .language-selector {
        font-size: 1.8rem;
    }

    .mobile-menu-btn span {
        display: inline-block;
    }

    .dropdown-content-inner {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        padding: 25px;
        width: 85%;
        max-width: 360px;
    }

    .lang-option {
        font-size: 1.2em;
        padding: 12px;
        color: #d4af37;
    }

    .lang-option:hover {
        color: white;
    }

    .flag-img {
        width: 60px;
    }
}