.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1a1a1a;
    color: #d4af37;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #fcfaf7;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #d4af37;
    cursor: pointer;
}

.lang-menu {
    position: relative;
    cursor: pointer;
    margin-left: 20px;
}

.lang-icon {
    font-size: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #333;
    color: #d4af37;
    min-width: 120px;
    padding: 10px;
    border-radius: 5px;
    top: 40px;
}

.dropdown-content div {
    padding: 5px;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #444;
}

.back-container {
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;
}

.back-btn {
    background-color: #1a1a1a;
    color: #d4af37;
    border: 1px solid #d4af37;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.back-btn:hover {
    background-color: #d4af37;
    color: #121212;
}